    <h1 id="homeHeading">{{ 'home.welcome' | translate }}</h1>

    <p>{{ 'home.briefDescription' | translate }}</p>
    <p><a href="#/help/"><img src="images/Icon_Arrow_60x60px.png" alt="{{ 'home.newHere.altMessage' | translate }}" />{{ 'home.newHere' | translate }}</a></p>
    
    <h2>{{ 'home.workflow' | translate }}</h2>
    <ol>
        <li>{{ 'home.list.contributionDescription' | translate }}</li>
        <li>{{ 'home.list.findSponsor' | translate }}</li>
        <li>{{ 'home.list.acceptContribution' | translate }}</li>
    </ol>

    <h2>{{ 'home.showContributions' | translate }}</h2>
    <p><a href="#/contributions/">{{ 'home.showListContributions' | translate }}</a></p>
 
